<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <meta charset="utf-8">
    <title>Cats for Adoption</title>
    <link rel="stylesheet" href="cat-display.css">
</head>

<body>
    <h1>Meet the Cats!</h1>
    <p>Browse the cats we have available for adoption below.</p>
    <input type="text" id="searchBox" placeholder="Search by name, age, or gender">
    <div class="container">
        <div class="cat-card">
            <img src="/images/cat1.jpg" alt="Brown cat">
            <h2>Penny</h2>
            <p class="cat-info">Female, 3 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat2.jpg" alt="Brown and white tabby cat standing in the sun">
            <h2>Bilbo</h2>
            <p class="cat-info">Male, 11 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat3.jpg" alt="Brown and black cat laying down wearing pink sunglasses">
            <h2>Bowie</h2>
            <p class="cat-info">Female, 4 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat4.jpg" alt="Brown and white cat sitting with it's tongue out">
            <h2>Cloud</h2>
            <p class="cat-info">Male, 3 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat5.jpg" alt="Ginger and white cat staring off camera">
            <h2>Rusty</h2>
            <p class="cat-info">Male, 2 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat6.jpg" alt="British shorthair cat">
            <h2>Shadow</h2>
            <p class="cat-info">Male, 8 Years Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat7.jpg" alt="Brown and white cat sitting with it's tongue out">
            <h2>Jasper</h2>
            <p class="cat-info">Male, 1 Year Old</p>
        </div>
        <div class="cat-card">
            <img src="/images/cat8.jpg" alt="Black and white cat laying down">
            <h2>Luna</h2>
            <p class="cat-info">Female, 3 Years Old</p>
        </div>
    </div>

    <!-- links back to index page -->
    <a href="/">Go Back Home</a>
</body>

</html>