<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cat Cafe</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<h3>Home</h3>
		<a href="/bookingManagement">manage bookings</a>
    <a href="/food">Go to Food Page (Menu & Ordering)</a>
    <a href="/foodManagement">manage food items</a>
    <a href="/cats">See cats available for adoption</a>
	<a href="/test-cat-add.html">Add cat</a>
	</body>
</html>
