<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cat Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>ASD Cat Cafe</h1>
    <a href="/">home</a>
    <h1>Staff Login</h1>
    <form id="login-div" action="/staffLogin" method="POST">
        <img id="profile-img" src="/images/profile-img.png">
        <p id="error-msg"><%=typeof(errorMsg) === 'undefined'? "" : errorMsg%></p>
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input id="login-btn" type="submit" value="Login">
    </form>
</body>

</html>