<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cat Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Staff Login</h1>
    <form action="/staffLogin" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>

</html>