body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background: #ffecd2;
    min-height: 1200px;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 50px;
    margin-bottom: 40px;
}

.cat-card {
    aspect-ratio: 1/1;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border: 2px #e6cfc3 solid;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 20px;
    background: #fff8f0;
}

.cat-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    cursor: grab;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.cat-info {
    font-size: 1rem;
    margin: 0;
}

p {
    margin-left: 5rem;
}

input[type=text] {
    margin-left: 5rem;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px #e6cfc3 solid; 
}

a {
    padding: 20px;
    background: #fff8f0;
    border: 2px #e6cfc3 solid;
    margin-left: 5rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    background: #eee5e0;
}